<!--
  Copyright 2016 Google, Inc.

  Licensed to the Apache Software Foundation (ASF) under one or more contributor
  license agreements. See the NOTICE file distributed with this work for
  additional information regarding copyright ownership. The ASF licenses this
  file to you under the Apache License, Version 2.0 (the "License"); you may not
  use this file except in compliance with the License. You may obtain a copy of
  the License at

  http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
  WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
  License for the specific language governing permissions and limitations under
  the License.
-->
<script>
var isSemesterChecked;
var isDepartmentChecked;
var cataegoryString = 'All Departments All Semesters';
function concatCataegoryString()
{

             var semester = ['1'];
             semester.pop('1');

  if(document.event.semester0.checked)
  {
     semester.push(document.event.semester0.value);
  isSemesterChecked = true;
  }
  if(document.event.semester1.checked)
  {
     semester.push(document.event.semester1.value);
  isSemesterChecked = true;
  }
  if(document.event.semester2.checked)
  {
    semester.push(document.event.semester2.value);
  isSemesterChecked = true;
  }
  if(document.event.semester3.checked)
  {
    semester.push(document.event.semester3.value);
  isSemesterChecked = true;
  }
  if(document.event.semester4.checked)
  {
    semester.push(document.event.semester4.value);
  isSemesterChecked = true;
  }
  if(document.event.semester5.checked)
  {
    semester.push(document.event.semester5.value);
  isSemesterChecked = true;
  }




  var semesterString = 'All Semesters'.concat(semester);

  var department = ['1'];
  department.pop('1');



  if(document.event.department0.checked)
  {
      department.push(document.event.department0.value);
isDepartmentChecked = true;
  }
  if(document.event.department1.checked)
  {
      department.push(document.event.department1.value);
isDepartmentChecked = true;
  }
  if(document.event.department2.checked)
  {
      department.push(document.event.department2.value);
isDepartmentChecked = true;
  }
  if(document.event.department3.checked)
  {
      department.push(document.event.department3.value);
isDepartmentChecked = true;
  }
  if(document.event.department4.checked)
  {
      department.push(document.event.department4.value);
isDepartmentChecked = true;
  }
  if(document.event.department5.checked)
  {
      department.push(document.event.department5.value);
isDepartmentChecked = true;
  }






    if(!department)
    {
      // alert('Choose Atleast one Department');
    }
    else if(1<department.length){
    for(i=0;i<=department.length - 1;i++)
    {
      cataegoryString = cataegoryString.concat(department[i]);
    }
    }else {
      cataegoryString = cataegoryString.concat(department);
    }

  if(!semester)
  {
    // alert('Choose Atleast one Semester');
  }
  else if(1<semester.length){
  for(i=0;i<=semester.length - 1;i++)
  {
    cataegoryString = cataegoryString.concat(semester[i]);
  }
  }else {
    cataegoryString = cataegoryString.concat(semester);
  }





}



function check()
{




var title = document.event.eventTitle.value;

var desc = document.event.eventDesc.value;



var pass_check = document.event.pass_check.value;


  var today = new Date();
  var dd = today.getDate();
  var mm = today.getMonth()+1; //January is 0!

  var yyyy = today.getFullYear();
  if(dd<10){
  dd='0'+dd;
  }
  if(mm<10){
  mm='0'+mm;
  }
  var today = dd+'/'+mm+'/'+yyyy;




concatCataegoryString();









if(title.length < 1)
{


  alert('Enter the Event Title.');
}
else if (desc.length < 1) {
    alert('Enter the Event Description.');
}
else if (pass_check.length < 1) {
    alert('Confirm the password.');
}






else if (!isDepartmentChecked) {
  alert('Choose Atleast one Department')
}

else if (!isSemesterChecked) {
  alert('Choose Atleast one Semester');

}
else{

   document.getElementById('cataegoryStringText').value = cataegoryString;
   document.getElementById('todayDateText').value = today;




     document.getElementById('hangoutButtonId').click();

     var delayInMilliseconds = 10; //0.01 second

     setTimeout(function() {

       document.getElementById('create').click();
            window.location.href = "/annonuncementViewerPage";
     }, delayInMilliseconds);




}







}




</script>
<div class="mdl-grid">


  <!-- Show spreadsheets -->
  <section id="spreadsheets2"
           class="mdl-cell mdl-cell--4-col relative">
    <div class="mdl-list">
      <div class="mdl-list__item">


        <form method="post" action="/announcementWriteCheck" name='event'>

    <input type='text' placeholder="Event Title"     id="mySelect" name='eventTitle'/><br>
    <input type='text' placeholder="Event Description"   id="mySelect" name='eventDesc'><br>

    <input type='password' placeholder="Confirm Password"   id="mySelect" name='pass_check'><br>
    <br>
    Department(s) Concerned:<br>
    <input type="checkbox" name="department0" value="Art"  id="mySelect">Art<br>
    <input type="checkbox" name="department1" value="Commerce"  id="mySelect">Commerce<br>
    <input type="checkbox" name="department2" value="Management"  id="mySelect">Management<br>
    <input type="checkbox" name="department3" value="Education"  id="mySelect">Education<br>
    <input type="checkbox" name="department4" value="Science"  id="mySelect">Science<br>
    <input type="checkbox" name="department5" value="Other"  id="mySelect">Other<br>

    <br>


    Semesters(s) Concerned:<br>
    <input type="checkbox" name="semester0" value="First Semester"  id="mySelect">First Semester<br>
    <input type="checkbox" name="semester1" value="Second Semester"  id="mySelect">Second Semester<br>
    <input type="checkbox" name="semester2" value="Third Semester"  id="mySelect">Third Semester<br>
    <input type="checkbox" name="semester3" value="Fourth Semester"  id="mySelect">Fourth Semester<br>
    <input type="checkbox" name="semester4" value="Fifth Semester"  id="mySelect">Fifth Semester<br>
    <input type="checkbox" name="semester5" value="Sixth and Above Semesters"  id="mySelect">Sixth and Above Semesters<br>

    <br>

      <input type='text' name='cataegoryTextName' value='false'  id='cataegoryStringText'  style="visibility:collapse;" >
  <input type='text' name='todayTextName' value='false'  id='todayDateText'   style="visibility:collapse;" >
<input type="button" value="Submit"  onclick="check()"    >

            <input type="submit" value="Submit" id='hangoutButtonId'  style="visibility:collapse;"   >
        </form>
        <br><br>
      <span class="mdl-list__item-secondary-action" style="position:relative; ">

        <button  class="mdl-button mdl-js-button mdl-button--raised
                       mdl-js-ripple-effect mdl-button--colored"
                rel="writeAnnouncement" type="button" id='create'  style="position:relative;">Create</button>


</button>
      </span>
      </div>
      {{#each spreadsheets}}
      <div class="mdl-list__item">


      </div>
      {{/each}}
    </div>
  </section>
</div>
