<!--
  Copyright 2016 Google, Inc.

  Licensed to the Apache Software Foundation (ASF) under one or more contributor
  license agreements. See the NOTICE file distributed with this work for
  additional information regarding copyright ownership. The ASF licenses this
  file to you under the Apache License, Version 2.0 (the "License"); you may not
  use this file except in compliance with the License. You may obtain a copy of
  the License at

  http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
  WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
  License for the specific language governing permissions and limitations under
  the License.
-->
<script>
function myFunction() {


    var x = document.getElementById("mySelect").value;


  var hangoutButton = document.getElementById("hangoutButtonId");
  hangoutButton.click(); // this will trigger the click event
  x.onclick = function() {
     hangoutButton.click(); // this will trigger the click event
  };
}


</script>
<div class="mdl-grid">


  <!-- Show spreadsheets -->
  <section id="spreadsheets2"
           class="mdl-cell mdl-cell--4-col relative">
    <div class="mdl-list">
      <div class="mdl-list__item">
        <form method="post" action="/genres">
        <div class="styled-select yellow rounded" >
      <select name ="s1" onchange="myFunction()" id="mySelect">
            <option style="font-weight:bold;">Choose Event Genre</option>
          <option style="font-weight:bold;">All Events</option>
          <option style="font-weight:bold;">Technology</option>
          <option style="font-weight:bold;">Social Gathering</option>
          <option style="font-weight:bold;">Debate</option>
          <option style="font-weight:bold;">Social Awareness</option>
          <option style="font-weight:bold;">Convention</option>
          <option style="font-weight:bold;">Sports</option>
          <option style="font-weight:bold;">Other</option>
          </select>



        </div>
        <br>
        <input id='hangoutButtonId'   style="visibility: collapse; z-index:-88888888; position:fixed" type="submit" value="Submit" name="s3" >



        </form>
        <span class="mdl-list__item-secondary-action">

          <button onclick="document.getElementById('hangoutButtonId').click()" class="mdl-button mdl-js-button mdl-button--raised
                         mdl-js-ripple-effect mdl-button--colored"
                  rel="create" type="button" id='create'>Create</button>


</button>
        </span>
        <iframe src= "/eventViewerFrame" style="position:fixed; top:20%; left:0px; bottom:0px; right:0px; width:100%; height:100%; border:none; margin:0; padding:0; overflow:hidden; z-index:-1;">
          Your browser doesn't support iframes
      </iframe>
      </div>
      {{#each spreadsheets}}
      <div class="mdl-list__item">


      </div>
      {{/each}}
    </div>
  </section>
</div>
