<script>
  function htmlDecode(input){
    var e = document.createElement('div');
    e.innerHTML = input;
    return e.childNodes.length === 0 ? "" : e.childNodes[0].nodeValue;
  }
  var myVar = JSON.parse(htmlDecode("<%= JSON.stringify(myVar) %>"));
</script>
<!-- <form action="/test" method="post">
  <input type='text' onchange="f()">
  <input type="submit" value="submit">
</form>
hello -->
