<!DOCTYPE html>
<html>
<head>
  <script src="deviceCheck.js"></script>
  <meta charset="utf-8">
  <title>Maintenance</title>
</head>
<body>
<h1>We'll be right back</h1>

  <p>Site Under maintenance</p>

{{> footer}}
</body>

</html>
