

.during-upload {
  display: none;
}

.post-upload {
  display: none;
}

label {
  display: block;
}

progress {
  font-size: 0.75em;
  width: 15em;
  margin-bottom: 1em;
  padding: 0.5em;
  font-family: "Open Sans", sans-serif;
}

textarea {
  height: 7em;
}
